<!DOCTYPE html>
<html>

<Head>
    <title>Boot workarea</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</Head>

<body>
    <div id="app" style="text-align: center;">
        <img src="\images\underConst.jpg" alt="Under Construction">
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                teachers: [{
                        name: 'ryan',
                        tel: '0931190527'
                    },
                    {
                        name: 'chao',
                        tel: '0931190527'
                    },
                ]
            }
        })
    </script>
</body>

</html>